<div class="body">
    <div class="content">
      <div class="wrapper-1">
        <div class="wrapper-2">
          <h1>Account Activated!</h1>
          <p>Thank you for activating your account.</p>
          <p>You should now be able to log in and start using our services.</p>
          <button class="go-home" routerLink="/login">
            <!-- Go to Login page  -->
          </button>
        </div>
        <!-- <div class="footer-like">
          <p>If you have any issues or didn't receive the activation email,
            <a href="#">click here to send again</a>.
          </p>
        </div> -->
      </div>
    </div>
  </div>
  